<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <title>sign up</title>
</head>

<body>
  <section id="app">
    <p id="name-js"></p>
    <img id="photoUrl-js" src="" alt="">
    <button id="logout-js">Salir</button>
  </section>
  
  <section>
    <form action="">
      <textarea name="" id="content-post-js" cols="30" rows="10"></textarea>
      <button id="submit-js">Enviar</button>
    </form>
    <progress value="0" max="100" id="uploader-js">0%</progress>
    <input type="file" value="upload" id="fileButton-js">
    
  </section>
  <section id="all-post-js">
    
  </section>
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../js/newsfeed.js"></script>
</body>

</html>